.header-component {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6b615b;

  &__container {
    width: clamp(320px, 100%, 1440px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 1rem;

    &__left-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &__img {
        width: 3rem;
        height: auto;
        transform: rotate(-20deg);
        filter: drop-shadow(0px 0px 8px rgba(66, 68, 90, 1));
      }

      &__title {
        font-size: clamp(14px, 1.6rem, 32px);
        font-weight: 900;
        text-shadow: 3px 3px 8px rgba(47, 48, 59, 1);
      }
    }

    &__right-box {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: .8rem;

      &__score {
        font-size: 1.1rem;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 525px) {
  .header-component {
    &__container {
      gap: 1.5rem;
      &__right-box {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}